nav#video-menu-wrapper {
	width: 100%;
}

nav#video-menu-wrapper ul#vid-menu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media only screen and (max-width:768px) {
	nav#video-menu-wrapper ul#vid-menu {
		flex-direction: row;
	}
}

nav#video-menu-wrapper ul#vid-menu figure {
	flex-grow: 1;
	height: 200px;
	border: 1px Ridge #808080;
	outline: 1px outset #6F6565;
	color: #fff;
	cursor: pointer;
	-webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.85);
	-moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.85);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.85);
}

@media only screen and (max-width:768px) {
	nav#video-menu-wrapper ul#vid-menu figure:nth-child(1),
	nav#video-menu-wrapper ul#vid-menu figure:nth-child(2) {
		width: 30%;
		height: 200px;
	}

	nav#video-menu-wrapper ul#vid-menu figure:nth-child(3) {
		width: 90%;
		height: 350px;
	}
}

@media only screen and (max-width:425px) {
	nav#video-menu-wrapper ul#vid-menu figure:nth-child(1),
	nav#video-menu-wrapper ul#vid-menu figure:nth-child(2),
	nav#video-menu-wrapper ul#vid-menu figure:nth-child(3) {
		width: 90%;
		height: 25vh;
	}
}

section#vid-content {
	width: 100%;
}

section#vid-content .videos {
	display: none;
}