.wrapper {
	clear: both;
	margin: auto;
	padding: 1%;
	max-width: 1280px;
}

header#heading {
	position: sticky;
	top: 0px;
	background: #151515;
	border-bottom: 7px solid rgba(0, 0, 0, 0.65);
	z-index: 2;
}

nav.navigation {
	position: relative;
	display: flex;
	width: 100%;
	padding-bottom: 0.5%;
}

@media only screen and (max-width:768px) {
	nav.navigation {
		flex-direction: column;
	}
}

nav.navigation #logo {
	display: flex;
	flex-grow: 0.025;
	align-items: center;
	text-align: center;
	padding: 1%;
	color: #fff;
	text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width:768px) {
	nav.navigation #logo {
		padding: 2.5%;
		flex-grow: 1;
		flex-direction: column;
	}
}

nav.navigation ul {
	display: flex;
	flex-grow: 1;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media only screen and (max-width:768px) {
	nav.navigation ul {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		flex-direction: column-reverse;
		background: #202020;
		z-index: 3;
	}
}

nav.navigation ul li {
	position: relative;
	padding: 1.5% 2%;
	text-align: center;
	text-transform: uppercase;
}

nav.navigation ul li#main_mobile_btn {
	display: none;
}

@media only screen and (max-width:768px) {
	nav.navigation ul li {
		padding: 3.5%;
		border: 1px solid #404040;
	}

	nav.navigation ul li#main_mobile_btn {
		display: block;
		left: 87.5%;
		width: 30px;
		background: #D42102;
		color: #fff;
	}
}

@media only screen and (max-width:425px) {
	nav.navigation ul li#main_mobile_btn {
		left: 84.5%;
	}
}

nav.navigation ul li a {
	color: #54F7A2;
}

nav.navigation ul li a.active {
	color: #fff;
	font-weight: normal;
}

nav.navigation ul li:after {
	position: absolute;
	top: 30%;
	right: -5%;
	content: "/";
	color: rgba(255, 255, 255, 0.50);
	text-shadow: none;
}

@media only screen and (max-width:768px) {
	nav.navigation ul li:after {
		content: "";
	}
}

nav.navigation ul li:hover a {
	transition: 1s ease;
	color: #ffffff;
	font-weight: bold;
}

nav.navigation ul li:first-child:after {
	content: "";
}