/**/
@import url('pages/home/videos.css');
@import url('pages/home/slideshow.css');

/**/
@import url('pages/commands/menu.css');


/**/
.col-10 {
	width: 90%;
	margin: 2%;
	padding: 3%;
}

.col-7 {
	width: 58%;
	margin: 2%;
	padding: 3%;
}

.col-6 {
	width: 48%;
	margin: 2%;
	padding: 3%;
}

.col-5 {
	width: 40%;
	margin: 2%;
	padding: 3%;
}

.col-4 {
	width: 28%;
	margin: 2%;
	padding: 3%;
}

.col-3 {
	width: 20%;
	margin: 2%;
	padding: 3%;
}

.col-2 {
	width: 8%;
	margin: 2%;
	padding: 3%;
}

@media only screen and (max-width:768px) {
	.col-10, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2 {
		width: 90%;
	}
}