button {
	font-family: "Manrope", sans-serif;
}

button.read_more {
	width: 100%;
	margin: 7.5% 0%;
	padding: 5%;
	border: 3px double #252525;
	background: #454545;
	color: #ededed;
	border-radius: 10px;
}

@media screen and (max-width:575px) {
	button.read_more {
		width: 94%;
		padding: 2.5%;
	}
}

button.read_more:hover {
	transition: 500ms ease;
	background: aqua;
	color: #333;
	cursor: pointer;
}