figure {
	position: relative;
}

.clear-left {
	float: left;
	clear: left;
}

.clear-right {
	float: right;
	clear: right;
}

.clear-both {
	clear: both;
}

img.center {
	display: block;
	margin: 3% auto;
}

figure img {
	display: block;
	max-width: 100%;
	height: 100%;
}

figure figcaption {
	font-family: "Quicksand", sans-serif;
}

figure figcaption.caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.50);
	text-align: center;
	padding: 1.5%;
	color: #fefefe;
}